body {
    background-color: whitesmoke;
}

/* the viewer container must have a defined size */
#photosphere {
    height: 70vh;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-actions {
    text-align: center;
}

#import-result {
    height: 250px;
    width: 400px;
    display: block;
    margin: auto;
}

#import-area {
    text-align: center;
}

#pin-id {
    display: none;
}

#qrCode {
    margin-top: 15px;
}

#get-shareable-url {
    color: white;
}

.header-wrapper {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-right: 10%;
}

.page-title {
    display: inline-block;
    color: gray;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    margin-left: 25%;
}

.psv-container {
    border: 1px solid gray;
}